.errorMessage{
    width: 100%;
    position: absolute;
    top: -32px;
    color: white;
    padding: 5px 5px;
    background-color: royalblue;
    
}

.errorMessage:after{
    content: '';
    width: 10px;

    display: block;
    position: absolute;
    z-index: 10;
    border: 0;
    border-top: 10px solid transparent;
    margin-top: -10px;
    top: 100%;
    border-right: 10px solid #337AB7;
    left: -10px;
}